.wrapper {
  background-color: #313131;
  margin-top: 10px;
  position: absolute;
  border-radius: 12px;
  max-width: 248px;
  max-height: 305px;
  padding: 34px;
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow-y: auto;
  max-width: 180px;
  max-height: 237px;
  padding-right: 24px;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list ::-webkit-scrollbar-track {
  background: #4b4949;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  width: 4px;
  height: 65px;
}
