.button {
  border-radius: 6px;
  width: 278px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.054px;
  border: 1px solid #d0cece;
}

.login {
  background: #580ea2;
  color: #fff;
}

.login:hover {
  background: #3f007d;
}

.login:active {
  background: #271a58;
}

.register {
  background: #fff;
  color: #000;
}

.register:hover {
  background: #f4f5f6;
}

.register:active {
  background: #d9d9d9;
}
