.search {
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}
