:global(.bar) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

:global(.visible) {
  visibility: visible;
}

/* :global(.not-visible) {
  visibility: hidden;
} */

.time-duration {
  padding-right: 5px;
  width: 100%;
  text-align: right;
}

.content {
  display: flex;
  flex-direction: column;
}

.player-progress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}

.player-block {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.volume-block {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
}
