.sidebar {
  max-width: 418px;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-column: 9 / 11;
}

.block {
  height: 100%;
  padding: 140px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item {
  width: 200px;
  height: 120px;
}

.link {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: auto;
}
