.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
}

.personal-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #313131;
  border-radius: 50%;
}

.block {
  height: 100%;
  padding: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item {
  width: 200px;
  height: 120px;
}

.link {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: auto;
}
