.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: #fff;
  max-width: 366px;
  max-height: 439px;
  box-sizing: border-box;
  padding: 45px;
  border-radius: 12px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  gap: 38px;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
