.controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.btn-prev,
.btn-play,
.btn-next,
.btn-repeat,
.btn-shuffle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.btn-prev {
  margin-right: 23px;
}

.btn-prev-svg {
  width: 15px;
  height: 14px;
}

.btn-play {
  margin-right: 23px;
}

.btn-play-svg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.btn-next {
  margin-right: 28px;
  fill: #a53939;
}

.btn-next-svg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.btn-repeat {
  margin-right: 24px;
}

.btn-repeat-svg {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: #696969;
}

.btn-shuffle {
  display: flex;
  align-items: center;
}

.btn-shuffle-svg {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: #696969;
}

.track-play {
  display: flex;
  flex-direction: row;
}
