:global(.col01) {
  grid-column: 1 / 6;
}

:global(.col02) {
  grid-column: 6 / 12;
}

:global(.col03) {
  grid-column: 12 / 16;
}
:global(.col04) {
  width: 80px;
  grid-column: 16 / 17;
  text-align: start;
}

:global(._like-icon:hover svg) {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

:global(._like-icon:active svg) {
  fill: #ad61ff;
  stroke: #ad61ff;
  cursor: pointer;
}

:global(audio) {
  display: none;
}

:global(#root) {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

:global(html, body) {
  width: 100%;
  height: 100%;
  font-family: 'StratosSkyeng', sans-serif;
  color: #ffffff;
}

:global(ul li) {
  list-style: none;
}

:global(button, ._btn) {
  cursor: pointer;
}

:global(a, a:visited) {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

:global(a) {
  text-decoration: none;
}

:global(*:before, *:after) {
  box-sizing: border-box;
}

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
